<head>  
        <!-- Commom Meta Tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="yourdomain.com">       
        <meta name="robots" content="index, follow">       

        <!-- Primary Meta Tags -->
        <meta name="title" content="11ty Boilerplate">
        <meta name="description" content="11ty Boilerplate for developers that don't want to start from the scratch">         
        <meta property="og:site_name" content="yourdomain.com" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.yourdomain.com/">
        <meta property="og:title" content="11ty Boilerplate">
        <meta property="og:description" content="11ty Boilerplate for developers that don't want to start from the scratch">
        <meta property="og:image" content="https://www.yourdomain.com/yourimagepath.jpg">
        <meta property="og:image:type" content="image/jpeg">  
        <meta property="fb:app_id" content="yourIDnumber" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.yourdomain.com/">
        <meta property="twitter:title" content="11ty Boilerplate">
        <meta property="twitter:description" content="11ty Boilerplate for developers that don't want to start from the scratch">
        <meta property="twitter:image" content="https://www.yourdomain.com/yourimagepath.jpg">
           
        <!-- All Links -->
        <link rel="icon" type="image/png" href="/img/favicon/favicon-256.png" sizes="128x128">
        <link rel="stylesheet" href="/assets/main.css?<%- cacheBust.mainCss %>" />
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">

        <title>11ty Boilerplate</title>   

        </head>

        <body itemscope itemtype="http://schema.org/WebPage" data-pagetype="home" class="page-home language-pt preload">
         
           
        