<section class="sessao sessao-sobre">
        <span id="sobre" class="ancora"></span>
        <div class="sessao__bloco-texto">
                <div class="sessao__titulo"><span class="sessao__detalhe-titulo"></span><p>First Section</p><span class="sessao__detalhe-titulo"></span></div>
                <div class="sessao__texto-descricao">Lorem ipsum dolor sit amet. <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus iste reiciendis suscipit.</span></div>
                <div class="sessao__texto-descricao">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque consequatur iure, veritatis quibusdam ad beatae eveniet nesciunt, atque repellendus nostrum non. Similique repudiandae debitis aliquam.</div>
                <div class="sessao__texto-descricao"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></div>
        </div>
</section>