<section class="sessao sessao-sobre">
        <span id="sobre" class="ancora"></span>
        <div class="sessao__bloco-texto">
                <div class="sessao__titulo"><span class="sessao__detalhe-titulo"></span><p>First Section</p><span class="sessao__detalhe-titulo"></span></div>
                <div class="sessao__texto-descricao">Lorem ipsum dolor sit amet. <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus iste reiciendis suscipit.</span></div>
                <div class="sessao__texto-descricao">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque consequatur iure, veritatis quibusdam ad beatae eveniet nesciunt, atque repellendus nostrum non. Similique repudiandae debitis aliquam.</div>
                <div class="sessao__texto-descricao"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></div>
                <div class="sessao__estrategias">
                        <div class="sessao__estrategias--estrategia">
                                <h2 class="sessao__estrategias--titulo">Lorem, ipsum.</h2>
                                <p class="sessao__estrategias--lista--texto">                                
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, quod!
                                </p>
                        </div>
                        <div class="sessao__estrategias--estrategia">
                                <h2 class="sessao__estrategias--titulo">Lorem, ipsum.</h2>
                                <p class="sessao__estrategias--lista--texto">                                
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio officia in eum?
                                </p>
                        </div>
                        <div class="sessao__estrategias--estrategia">
                                <h2 class="sessao__estrategias--titulo">Lorem, ipsum.</h2>
                                <ul class="sessao__estrategias--lista">                                
                                        <li class="sessao__estrategias--item">Lorem, ipsum dolor.</li>
                                        <li class="sessao__estrategias--item">Lorem, ipsum.</li>
                                        <li class="sessao__estrategias--item">Lorem, ipsum.</li>
                                        <li class="sessao__estrategias--item">Lorem, ipsum dolor.</li>
                                        <li class="sessao__estrategias--item">Lorem, ipsum.e</li>
                                </ul>
                        </div>
                </div>
        </div>
</section>