<section class="sessao">
        <span id="diferencial" class="ancora"></span>
        <div class="sessao__bloco-texto">
                <div class="sessao__titulo"><span class="sessao__detalhe-titulo"></span><p>Section Four</p><span class="sessao__detalhe-titulo"></span></div>
                <!-- <div class="sessao__texto-pequeno"><p>Você sabe a diferença entre o gerente de banco e o assessor de investimentos? </p></div> -->
                <p class="sessao__texto-descricao">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro animi, suscipit, reiciendis, odio velit expedita non earum beatae tempore ipsum possimus. At sequi modi ipsa est atque cupiditate, eaque natus.</p>
                <div class="sessao__estrategias">
                        <div class="sessao__estrategias--estrategia">
                                <h3 class="sessao__estrategias--titulo">LOREM IPSUM</h3>
                                <p class="sessao__estrategias--lista--texto">                                
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem laboriosam quae dolorem ipsam ducimus impedit.
                                </p>
                        </div>
                        <div class="sessao__estrategias--estrategia">
                                <h3 class="sessao__estrategias--titulo">LOREM IPSUM</h3>
                                <p class="sessao__estrategias--lista--texto">                                
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem laboriosam quae dolorem ipsam ducimus impedit.
                                </p>
                        </div>
                        <div class="sessao__estrategias--estrategia">
                                <h3 class="sessao__estrategias--titulo">LOREM IPSUM</h3>
                                <p class="sessao__estrategias--lista--texto">                                
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem laboriosam quae dolorem ipsam ducimus impedit.
                                </p>
                        </div>
                </div>
        </div>
</section>
