<section class="sessao">
  <span id="solucoes" class="ancora"></span>
  <div class="sessao__bloco-solucoes">
    <div class="sessao__titulo">
      <span class="sessao__detalhe-titulo"></span>
      <p>Third Section</p>
      <span class="sessao__detalhe-titulo"></span>
    </div>
    <div class="sessao__texto-pequeno">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam,
        quibusdam!
      </p>
    </div>
    <div class="sessao__solucoes">
      <ul class="solucoes__lista">
        <li id="animation__flip" class="solucoes__item">
          <svg
            class="solucoes__svg"
            xmlns="http://www.w3.org/2000/svg"
            width="65"
            height="65"
            viewBox="0 0 114.595 114.594"
            xml:space="preserve"
          >
            <path
              d="M99.287,101.797h-7.121v-4.834c0-0.275-0.225-0.5-0.5-0.5c-0.276,0-0.5,0.225-0.5,0.5v4.834h-9v-4.834
			c0-0.275-0.225-0.5-0.5-0.5c-0.276,0-0.5,0.225-0.5,0.5v4.834h-9v-4.834c0-0.275-0.225-0.5-0.5-0.5c-0.276,0-0.5,0.225-0.5,0.5
			v4.834h-9v-4.834c0-0.275-0.225-0.5-0.5-0.5c-0.276,0-0.5,0.225-0.5,0.5v4.834h-9v-4.834c0-0.275-0.224-0.5-0.5-0.5
			c-0.276,0-0.5,0.225-0.5,0.5v4.834h-9v-4.834c0-0.275-0.224-0.5-0.5-0.5c-0.276,0-0.5,0.225-0.5,0.5v4.834h-9v-4.834
			c0-0.275-0.224-0.5-0.5-0.5c-0.276,0-0.5,0.225-0.5,0.5v4.834h-9v-4.834c0-0.275-0.224-0.5-0.5-0.5c-0.276,0-0.5,0.225-0.5,0.5
			v4.834H3V90.464h4.016c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5H3v-9h4.016c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5H3
			v-9h4.016c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5H3v-9h4.016c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5H3v-9h4.016
			c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5H3v-9h4.016c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5H3v-9h4.016
			c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5H3v-9h4.016c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5H3v-8.167
			c0-0.828-0.672-1.5-1.5-1.5c-0.828,0-1.5,0.672-1.5,1.5v92c0,0.828,0.672,1.5,1.5,1.5h97.787c0.828,0,1.5-0.672,1.5-1.5
			S100.115,101.797,99.287,101.797z"
              style="fill: #fff"
            />
            <rect
              x="15.644"
              y="23.4"
              width="10.25"
              height="67.795"
              style="fill: #fff"
            />
            <path
              d="M47.644,55.306c-1.342-1.754-2.43-3.641-3.262-5.611h-6.988v41.5h10.25V55.306z"
              style="fill: #fff"
            />
            <path
              d="M69.145,65.403c-0.332,0.014-0.664,0.035-0.996,0.035c-3.218,0-6.34-0.59-9.254-1.705v27.461h10.25V65.403z"
              style="fill: #fff"
            />
            <path
              d="M91.645,71.571l-9.863-10.008c-0.127,0.078-0.26,0.146-0.387,0.221v29.41h10.25V71.571z"
              style="fill: #fff"
            />
            <path
              d="M113.751,81.944L86.074,53.861c6.94-8.952,6.322-21.913-1.895-30.129c-8.906-8.907-23.4-8.907-32.309,0
			c-8.906,8.908-8.906,23.4,0,32.309c8.217,8.217,21.176,8.834,30.13,1.895l27.677,28.081c1.125,1.125,2.947,1.125,4.072,0.001
			C114.876,84.893,114.876,83.069,113.751,81.944z M80.109,51.968c-6.662,6.662-17.502,6.663-24.164,0
			c-6.662-6.661-6.661-17.501,0-24.162c6.662-6.661,17.501-6.663,24.164,0C86.771,34.467,86.771,45.307,80.109,51.968z"
              style="fill: #fff"
            />
            <path
              d="M68.859,37.443c-2.613-1.081-3.369-1.735-3.369-2.919c0-0.946,0.693-2.052,2.645-2.052c1.837,0,2.993,0.661,3.487,0.943
			c0.126,0.073,0.278,0.085,0.417,0.037c0.138-0.05,0.246-0.156,0.299-0.293l0.742-1.96c0.087-0.228-0.004-0.485-0.215-0.608
			c-1.063-0.619-2.248-0.974-3.608-1.077v-2.405c0-0.276-0.224-0.5-0.5-0.5h-1.838c-0.276,0-0.5,0.224-0.5,0.5v2.583
			c-2.735,0.604-4.478,2.603-4.478,5.188c0,3.119,2.504,4.533,5.203,5.595c2.159,0.873,3.039,1.762,3.039,3.064
			c0,1.439-1.218,2.406-3.027,2.406c-1.4,0-2.856-0.434-3.994-1.19c-0.127-0.086-0.287-0.106-0.434-0.059
			c-0.147,0.047-0.263,0.161-0.313,0.306l-0.712,1.985c-0.075,0.211-0.002,0.446,0.181,0.576c1.04,0.742,2.696,1.264,4.327,1.377
			v2.516c0,0.276,0.225,0.5,0.5,0.5h1.868c0.276,0,0.5-0.224,0.5-0.5v-2.671c2.819-0.631,4.686-2.778,4.686-5.454
			C73.764,40.604,72.296,38.843,68.859,37.443z"
              style="fill: #fff"
            />
          </svg>
          <p class="solucoes__titulo">Lorem</p>
          <p class="solucoes__descricao">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam a
            temporibus unde praesentium.
          </p>
        </li>
        <li class="solucoes__item">
          <svg
            class="solucoes__svg"
            xmlns="http://www.w3.org/2000/svg"
            width="65"
            height="65"
            viewBox="0 0 231.949 231.949"
            xml:space="preserve"
          >
            <path
              d="M224.449,103.627h-17.035c-6.539-15.142-17.662-27.717-31.938-36.092l-0.068-26.138c-0.007-2.648-1.41-5.096-3.69-6.441 c-2.282-1.346-5.103-1.388-7.422-0.112l-19.739,10.849c-2.838-24.204-23.461-43.049-48.414-43.049 c-26.888,0-48.764,21.874-48.764,48.76c0,3.798,0.451,7.49,1.276,11.041C19.667,74.123,0,102.698,0,134.425 c0,25.164,12.009,48.415,32.33,63.001v24.379c0,4.142,3.358,7.5,7.5,7.5h37.73c4.14,0,7.497-3.355,7.5-7.495l0.007-9.814h43.613 l-0.036,9.782c-0.007,1.994,0.779,3.909,2.186,5.321c1.408,1.413,3.319,2.207,5.314,2.207h35.494c4.142,0,7.5-3.358,7.5-7.5v-22.777	c15.639-10.406,26.948-26.07,31.873-44.074h13.438c4.142,0,7.5-3.358,7.5-7.5v-36.327 C231.949,106.984,228.591,103.627,224.449,103.627z M96.143,17.644c18.615,0,33.76,15.145,33.76,33.76 c0,1.924-0.171,3.808-0.481,5.645c-0.016,0.076-0.028,0.153-0.042,0.23c-2.79,15.822-16.627,27.885-33.237,27.885 c-18.617,0-33.764-15.145-33.764-33.76C62.379,32.789,77.525,17.644,96.143,17.644z M216.949,139.954h-11.9 c-3.608,0-6.705,2.569-7.371,6.115c-3.329,17.721-14.205,33.154-29.839,42.343c-2.292,1.347-3.7,3.807-3.7,6.466v19.428h-20.466 l0.037-9.782c0.007-1.994-0.779-3.909-2.187-5.321c-1.408-1.413-3.319-2.206-5.313-2.206H77.572c-4.14,0-7.497,3.355-7.5,7.495 l-0.007,9.814H47.33v-20.851c0-2.556-1.302-4.936-3.453-6.314C25.795,175.552,15,155.846,15,134.425 c0-25.604,15.873-48.661,39.266-58.075c1.91,3.193,4.178,6.146,6.742,8.813h-6.129c-4.142,0-7.5,3.357-7.5,7.5 c0,4.142,3.358,7.5,7.5,7.5h82.523c4.142,0,7.5-3.358,7.5-7.5c0-4.143-3.358-7.5-7.5-7.5h-6.128 c5.754-5.986,10.005-13.425,12.119-21.715l17.048-9.37l0.047,17.921c0.007,2.812,1.587,5.384,4.092,6.662 c14.405,7.348,25.289,19.763,30.647,34.958c1.058,3,3.893,5.006,7.073,5.006h14.648V139.954z"
              style="fill: #fff"
            />
          </svg>
          <p class="solucoes__titulo">Lorem, ipsum.</p>
          <p class="solucoes__descricao">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Reprehenderit, doloremque quo.
          </p>
        </li>
        <li class="solucoes__item">
          <svg
            class="solucoes__svg"
            xmlns="http://www.w3.org/2000/svg"
            width="65"
            height="65"
            viewBox="0 0 485 485"
            xml:space="preserve"
          >
            <path
              d="M441.118,48.266c-24.196,0-43.882,19.685-43.882,43.882v78.799c-15.267-5.065-32.782-1.545-44.91,10.583l-5.563,5.563 V96.187l-39.01-66.418H177.247l-39.01,66.418v90.905l-5.563-5.563c-12.127-12.128-29.643-15.649-44.91-10.583V92.147 c0-24.197-19.686-43.882-43.882-43.882S0,67.951,0,92.147v169.041l110.684,158.678v35.366h30v-44.795L30,251.758V92.147 c0-7.654,6.228-13.882,13.882-13.882s13.882,6.228,13.882,13.882v120.427c0.005,11.715,4.568,22.728,12.853,31.012l88.866,88.866 l21.213-21.213l-88.866-88.867c-2.622-2.622-4.065-6.107-4.065-9.815s1.443-7.194,4.065-9.816c5.414-5.413,14.222-5.411,19.632,0 l108.764,108.763c3.599,3.598,7.263,12.439,7.275,17.54c-0.001,0.026,0,126.186,0,126.186h30l-0.001-126.16 c0.013-5.127,3.678-13.968,7.276-17.567l108.764-108.763c5.413-5.413,14.221-5.412,19.632,0c2.617,2.617,4.06,6.095,4.065,9.795 c-0.004,3.739-1.448,7.218-4.065,9.836l-88.866,88.866l21.213,21.213l88.866-88.866c8.288-8.288,12.854-19.308,12.854-31.029 c-0.001-0.04-0.001-120.41-0.001-120.41c0-7.654,6.228-13.882,13.882-13.882S455,84.493,455,92.147v159.611L344.316,410.436v44.795 h30v-35.366L485,261.188V92.147C485,67.951,465.314,48.266,441.118,48.266z M227.5,150.266v58.028h-59.263v-93.028h148.525v93.028 H257.5v-58.028H227.5z M290.581,59.769l14.976,25.498H179.443l14.976-25.498H290.581z M243.563,290.291 c-0.36,0.36-0.71,0.751-1.063,1.134c-0.353-0.383-0.702-0.773-1.062-1.133l-51.998-51.998H295.56L243.563,290.291z"
              style="fill: #fff"
            />
          </svg>
          <p class="solucoes__titulo">Lorem, ipsum.</p>
          <p class="solucoes__descricao">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi,
            debitis.
          </p>
        </li>
        <li class="solucoes__item">
          <svg
            class="solucoes__svg"
            xmlns="http://www.w3.org/2000/svg"
            width="65"
            height="65"
            viewBox="0 0 512 512"
            xml:space="preserve"
          >
            <path
              d="M502,254.347h-6v-72v-64c0-21.266-16.683-38.703-37.648-39.925l-10.273-42.435c-3.111-12.847-16.094-20.769-28.938-17.657 L170.07,78.627c-0.661-0.177-1.353-0.28-2.07-0.28H40c-22.056,0-40,17.944-40,40v336c0,22.056,17.944,40,40,40h416 c22.056,0,40-17.944,40-40v-72h6c5.514,0,10-4.486,10-10v-108C512,258.833,507.514,254.347,502,254.347z M480,118.347v0.017 c-4.012-3.019-8.609-5.295-13.586-6.638l-3.994-16.5C472.545,98.041,480,107.337,480,118.347z M40,94.347h65.136l-66.731,16.155 c-0.042,0.008-0.082,0.021-0.123,0.03l-0.165,0.04c-0.021,0.005-0.042,0.013-0.063,0.019c-0.23,0.057-0.455,0.124-0.677,0.2 c-0.04,0.014-0.078,0.029-0.117,0.043c-0.205,0.075-0.406,0.156-0.604,0.247c-0.056,0.026-0.11,0.053-0.165,0.079 c-0.174,0.085-0.345,0.175-0.511,0.272c-0.069,0.04-0.137,0.082-0.205,0.125c-0.147,0.092-0.292,0.188-0.433,0.289 c-0.075,0.054-0.148,0.109-0.221,0.165c-0.13,0.1-0.256,0.203-0.379,0.311c-0.072,0.063-0.142,0.127-0.211,0.192 c-0.119,0.112-0.234,0.226-0.346,0.344c-0.063,0.066-0.124,0.134-0.184,0.203c-0.111,0.126-0.219,0.256-0.322,0.389 c-0.052,0.066-0.102,0.134-0.151,0.201c-0.103,0.142-0.201,0.287-0.295,0.435c-0.042,0.066-0.082,0.133-0.122,0.201 c-0.091,0.153-0.176,0.309-0.256,0.468c-0.036,0.072-0.07,0.144-0.104,0.216c-0.073,0.157-0.141,0.315-0.204,0.477 c-0.033,0.085-0.064,0.171-0.094,0.257c-0.052,0.15-0.101,0.301-0.145,0.456c-0.031,0.108-0.058,0.218-0.084,0.328 c-0.032,0.134-0.062,0.268-0.087,0.404c-0.026,0.138-0.045,0.278-0.064,0.417c-0.015,0.114-0.029,0.227-0.039,0.342 c-0.014,0.162-0.021,0.326-0.025,0.49c-0.002,0.066-0.01,0.131-0.01,0.198c0,0.038,0.005,0.074,0.006,0.112 c0.002,0.159,0.012,0.318,0.024,0.479c0.009,0.117,0.017,0.234,0.03,0.35c0.016,0.133,0.038,0.266,0.061,0.4 c0.024,0.14,0.048,0.28,0.079,0.418c0.01,0.043,0.014,0.086,0.024,0.129c0.019,0.076,0.046,0.148,0.066,0.223 c0.038,0.141,0.078,0.281,0.124,0.419c0.042,0.126,0.088,0.249,0.136,0.371c0.045,0.116,0.09,0.23,0.141,0.343 c0.063,0.142,0.131,0.28,0.201,0.417c0.044,0.085,0.088,0.171,0.135,0.254c0.087,0.155,0.179,0.305,0.275,0.453 c0.04,0.061,0.08,0.122,0.121,0.182c0.11,0.159,0.226,0.313,0.347,0.463c0.036,0.045,0.073,0.091,0.111,0.135 c0.13,0.154,0.265,0.303,0.406,0.447c0.037,0.038,0.074,0.076,0.113,0.113c0.145,0.142,0.294,0.278,0.449,0.408 c0.042,0.035,0.084,0.07,0.127,0.105c0.155,0.125,0.314,0.245,0.479,0.358c0.048,0.034,0.097,0.067,0.146,0.099 c0.165,0.109,0.334,0.211,0.506,0.308c0.052,0.029,0.104,0.057,0.156,0.085c0.178,0.094,0.36,0.181,0.545,0.262 c0.049,0.021,0.098,0.043,0.148,0.063c0.197,0.082,0.397,0.154,0.601,0.22c0.039,0.012,0.078,0.025,0.117,0.037 c0.223,0.068,0.448,0.126,0.677,0.174c0.022,0.004,0.043,0.01,0.065,0.014c0.25,0.051,0.503,0.089,0.758,0.116 c0.005,0,0.01,0.001,0.015,0.002c0.266,0.027,0.534,0.041,0.805,0.041c0.002,0,0.005,0,0.007,0h0.02c0.1,0,0.198,0.004,0.298,0H416 c4.418,0,8-3.582,8-8s-3.582-8-8-8H107.065L422.905,33.88c4.273-1.037,8.589,1.6,9.623,5.872l17.089,70.59h-1.613 c-4.418,0-8,3.582-8,8s3.582,8,8,8H456c0.805,0,1.601,0.042,2.386,0.119c0.31,0.058,0.625,0.096,0.943,0.117 c11.663,1.626,20.671,11.66,20.671,23.764v0.027c-6.69-5.034-15.002-8.022-24-8.022H40c-13.234,0-24-10.767-24-24 S26.767,94.347,40,94.347z M480,454.347c0,13.233-10.766,24-24,24H40c-13.234,0-24-10.767-24-24V150.325 c6.69,5.034,15.002,8.022,24,8.022h416c13.233,0,24,10.767,24,24v72H363.002c-6.066,0-11.002,4.936-11.002,11.002v105.996 c0,6.066,4.936,11.002,11.002,11.002H480V454.347z M496,366.347H368v-96h119.884c0.039,0,0.077,0.006,0.116,0.006 s0.077-0.005,0.116-0.006H496V366.347z"
              style="fill: #fff"
            />
            <path
              d="M432,310.347c-4.418,0-8,3.582-8,8c0,4.411-3.589,8-8,8s-8-3.589-8-8s3.589-8,8-8c4.418,0,8-3.582,8-8s-3.582-8-8-8
                                                c-13.234,0-24,10.767-24,24s10.766,24,24,24s24-10.767,24-24C440,313.929,436.418,310.347,432,310.347z"
              style="fill: #fff"
            />
          </svg>
          <p class="solucoes__titulo">Lorem</p>
          <p class="solucoes__descricao">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet?
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
