<section class="sessao">
        <span id="equipe" class="ancora"></span>
        <div class="sessao__bloco-texto">
                <div class="sessao__titulo"><span class="sessao__detalhe-titulo"></span><p>The Team, Maybe?</p><span class="sessao__detalhe-titulo"></span></div>
                <div class="sessao__texto-descricao">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos ea repellendus doloremque ipsam excepturi cumque inventore veritatis sapiente. Sit temporibus odio officiis consectetur incidunt consequatur. Aut nisi enim officiis odit voluptate ea temporibus natus in nostrum corporis rem, earum ipsam?</div>
                <ul class="sessao__times">
                        
                        <li class="sessao__time">
                                <div class="sessao__time--card">
                                        <div class="sessao__time--card-inner">
                                                <div class="sessao__time--card-front">
                                                        <img loading=lazy src="/images/team1.jpg" alt="avatar com a foto do alberto" class="sessao__time--imagem" width="300" height="300">
                                                </div>
                                                <div class="sessao__time--card-back">
                                                        <h1>John/Jane Doe</h1> 
                                                        <p>Lorem ipsum dolor sit.</p> 
                                                        <p>Lorem ipsum dolor sit amet.</p> 
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                                                        <p>Lorem ipsum dolor sit.</p>
                                                </div>
                                        </div>
                                        <div class="sessao__time--card-movel">   
                                                <img loading=lazy src="/images/team1.jpg" alt="avatar do alberto" class="sessao__time--imagem-movel" width="300" height="300">                                             
                                                <div class="sessao__time--texto-movel">
                                                        <h1>John/Jane Doe</h1> 
                                                        <p>Lorem ipsum dolor sit.</p> 
                                                        <p>Lorem ipsum dolor sit amet.</p> 
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                                                        <p>Lorem ipsum dolor sit.</p>
                                                </div>                                                
                                        </div>
                                </div>
                                <div class="sessao__time--card">
                                        <div class="sessao__time--card-inner">
                                                <div class="sessao__time--card-front">
                                                        <img loading=lazy src="/images/team2.jpg" alt="avatar com a foto do arthur" class="sessao__time--imagem" width="300" height="300">
                                                </div>
                                                <div class="sessao__time--card-back">
                                                        <h1>John/Jane Doe</h1> 
                                                        <p>Lorem ipsum dolor sit.</p> 
                                                        <p>Lorem ipsum dolor sit amet.</p> 
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                                                        <p>Lorem ipsum dolor sit.</p>
                                                </div>
                                        </div>
                                        <div class="sessao__time--card-movel">   
                                                <img loading=lazy src="/images/team2.jpg" alt="avatar do arthur" class="sessao__time--imagem-movel" width="300" height="300">                                             
                                                <div class="sessao__time--texto-movel">
                                                        <h1>John/Jane Doe</h1> 
                                                        <p>Lorem ipsum dolor sit.</p> 
                                                        <p>Lorem ipsum dolor sit amet.</p> 
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                                                        <p>Lorem ipsum dolor sit.</p>
                                                </div>                                                
                                        </div>
                                </div>
                                <div class="sessao__time--card">
                                        <div class="sessao__time--card-inner">
                                                <div class="sessao__time--card-front">
                                                        <img loading=lazy src="/images/team3.jpg" alt="avatar com a foto do geraldo" class="sessao__time--imagem" width="300" height="300">
                                                </div>
                                                <div class="sessao__time--card-back">
                                                        <h1>John/Jane Doe</h1> 
                                                        <p>Lorem ipsum dolor sit.</p> 
                                                        <p>Lorem ipsum dolor sit amet.</p> 
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                                                        <p>Lorem ipsum dolor sit.</p>
                                                </div>
                                        </div>
                                        <div class="sessao__time--card-movel">   
                                                <img loading=lazy src="/images/team3.jpg" alt="avatar do geraldo" class="sessao__time--imagem-movel" width="300" height="300">                                             
                                                <div class="sessao__time--texto-movel">
                                                        <h1>John/Jane Doe</h1> 
                                                        <p>Lorem ipsum dolor sit.</p> 
                                                        <p>Lorem ipsum dolor sit amet.</p> 
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                                                        <p>Lorem ipsum dolor sit.</p>
                                                </div>                                                
                                        </div>
                                </div>
                        </li>                           
                </ul>
                <a href="/fazer-parte" class="btn-parte">Felling like joying us?</a>
        </div>
        
</section>