<section class="introducao">
  <div class="video_contain">
    <video
      poster="https://res.cloudinary.com/bobarros/video/upload/e_blur:300,f_auto/t8nqo307dpudvx1662xk.jpg"
      loop="true"
      muted="true"
      autoplay="true"
    >
      <source
        src="https://res.cloudinary.com/bobarros/video/upload/f_auto/t8nqo307dpudvx1662xk.mp4"
      />
    </video>
    <div class="introducao__bloco-texto">
      <div class="introducao__texto-grande animate__animated animate__flipInX">
        <p>Make your time count!</p>
      </div>
      <div class="introducao__texto-pequeno"><p></p></div>
    </div>
    <div class="introducao__botoes">
      <a href="/webstory" class="btn-home btn-introducao">Check webstory!</a>
    </div>
  </div>
</section>
