<section class="sessao sessao-depoimentos">
  <span id="depoimentos" class="ancora"></span>
  <div class="sessao__bloco-relatos no-medium">
    <div class="sessao__titulo">
      <span class="sessao__detalhe-titulo"></span>
      <p>Testimonials</p>
      <span class="sessao__detalhe-titulo"></span>
    </div>

    <div class="sessao__relatos">
      <div class="prev">&#10094;</div>
      <div class="slideshow-container">
        <div class="mySlides fade">
          <div class="sessao__relatos">
            <ul class="sessao__relato">
              <li class="sessao__relato--texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam rerum suscipit sed quibusdam! Facilis, similique eum
                culpa obcaecati sed in, explicabo sequi illum labore doloribus
                doloremque minus fugit voluptas. Nostrum ad odio cum doloribus,
                sapiente reprehenderit repudiandae eligendi facilis quasi.
              </li>
              <li class="sessao__relato--proprietario">John/Jane Doe</li>
            </ul>
            <ul class="sessao__relato">
              <li class="sessao__relato--texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam rerum suscipit sed quibusdam! Facilis, similique eum
                culpa obcaecati sed in, explicabo sequi illum labore doloribus
                doloremque minus fugit voluptas. Nostrum ad odio cum doloribus,
                sapiente reprehenderit repudiandae eligendi facilis quasi.
              </li>
              <li class="sessao__relato--proprietario">John/Jane Doe</li>
            </ul>
            <ul class="sessao__relato">
              <li class="sessao__relato--texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam rerum suscipit sed quibusdam! Facilis, similique eum
                culpa obcaecati sed in, explicabo sequi illum labore doloribus
                doloremque minus fugit voluptas. Nostrum ad odio cum doloribus,
                sapiente reprehenderit repudiandae eligendi facilis quasi.
              </li>
              <li class="sessao__relato--proprietario">John/Jane Doe</li>
            </ul>
          </div>
        </div>
        <div class="mySlides fade">
          <div class="sessao__relatos">
            <ul class="sessao__relato">
              <li class="sessao__relato--texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam rerum suscipit sed quibusdam! Facilis, similique eum
                culpa obcaecati sed in, explicabo sequi illum labore doloribus
                doloremque minus fugit voluptas. Nostrum ad odio cum doloribus,
                sapiente reprehenderit repudiandae eligendi facilis quasi.
              </li>
              <li class="sessao__relato--proprietario">John/Jane Doe</li>
            </ul>
            <ul class="sessao__relato">
              <li class="sessao__relato--texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam rerum suscipit sed quibusdam! Facilis, similique eum
                culpa obcaecati sed in, explicabo sequi illum labore doloribus
                doloremque minus fugit voluptas. Nostrum ad odio cum doloribus,
                sapiente reprehenderit repudiandae eligendi facilis quasi.
              </li>
              <li class="sessao__relato--proprietario">John/Jane Doe</li>
            </ul>
            <ul class="sessao__relato">
              <li class="sessao__relato--texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam rerum suscipit sed quibusdam! Facilis, similique eum
                culpa obcaecati sed in, explicabo sequi illum labore doloribus
                doloremque minus fugit voluptas. Nostrum ad odio cum doloribus,
                sapiente reprehenderit repudiandae eligendi facilis quasi.
              </li>
              <li class="sessao__relato--proprietario">John/Jane Doe</li>
            </ul>
          </div>
        </div>
        <div class="mySlides fade">
          <div class="sessao__relatos">
            <ul class="sessao__relato">
              <li class="sessao__relato--texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam rerum suscipit sed quibusdam! Facilis, similique eum
                culpa obcaecati sed in, explicabo sequi illum labore doloribus
                doloremque minus fugit voluptas. Nostrum ad odio cum doloribus,
                sapiente reprehenderit repudiandae eligendi facilis quasi.
              </li>
              <li class="sessao__relato--proprietario">John/Jane Doe</li>
            </ul>
            <ul class="sessao__relato">
              <li class="sessao__relato--texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam rerum suscipit sed quibusdam! Facilis, similique eum
                culpa obcaecati sed in, explicabo sequi illum labore doloribus
                doloremque minus fugit voluptas. Nostrum ad odio cum doloribus,
                sapiente reprehenderit repudiandae eligendi facilis quasi.
              </li>
              <li class="sessao__relato--proprietario">John/Jane Doe</li>
            </ul>
            <ul class="sessao__relato">
              <li class="sessao__relato--texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam rerum suscipit sed quibusdam! Facilis, similique eum
                culpa obcaecati sed in, explicabo sequi illum labore doloribus
                doloremque minus fugit voluptas. Nostrum ad odio cum doloribus,
                sapiente reprehenderit repudiandae eligendi facilis quasi.
              </li>
              <li class="sessao__relato--proprietario">John/Jane Doe</li>
            </ul>
          </div>
        </div>
        <div class="grupo__dot">
          <span class="dot active" id="primeiro"></span>
          <span class="dot" id="segundo"></span>
          <span class="dot" id="terceiro"></span>
        </div>
      </div>
      <p class="next">&#10095;</p>
    </div>
  </div>

  <div class="sessao__bloco-relatos sessao__bloco-relatos--movel">
    <div class="sessao__titulo">
      <span class="sessao__detalhe-titulo"></span>
      <p>Testimonials</p>
      <span class="sessao__detalhe-titulo"></span>
    </div>
    <div class="mySlidesMobile fade">
      <div class="sessao__relatos">
        <ul class="sessao__relato">
          <li class="sessao__relato--texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            rerum suscipit sed quibusdam! Facilis, similique eum culpa obcaecati
            sed in, explicabo sequi illum labore doloribus doloremque minus
            fugit voluptas. Nostrum ad odio cum doloribus, sapiente
            reprehenderit repudiandae eligendi facilis quasi.
          </li>
          <li class="sessao__relato--proprietario">John/Jane Doe</li>
        </ul>
        <ul class="sessao__relato">
          <li class="sessao__relato--texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            rerum suscipit sed quibusdam! Facilis, similique eum culpa obcaecati
            sed in, explicabo sequi illum labore doloribus doloremque minus
            fugit voluptas. Nostrum ad odio cum doloribus, sapiente
            reprehenderit repudiandae eligendi facilis quasi.
          </li>
          <li class="sessao__relato--proprietario">John/Jane Doe</li>
        </ul>
        <ul class="sessao__relato">
          <li class="sessao__relato--texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            rerum suscipit sed quibusdam! Facilis, similique eum culpa obcaecati
            sed in, explicabo sequi illum labore doloribus doloremque minus
            fugit voluptas. Nostrum ad odio cum doloribus, sapiente
            reprehenderit repudiandae eligendi facilis quasi.
          </li>
          <li class="sessao__relato--proprietario">John/Jane Doe</li>
        </ul>
      </div>
    </div>
    <div class="mySlidesMobile fade">
      <div class="sessao__relatos">
        <ul class="sessao__relato">
          <li class="sessao__relato--texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            rerum suscipit sed quibusdam! Facilis, similique eum culpa obcaecati
            sed in, explicabo sequi illum labore doloribus doloremque minus
            fugit voluptas. Nostrum ad odio cum doloribus, sapiente
            reprehenderit repudiandae eligendi facilis quasi.
          </li>
          <li class="sessao__relato--proprietario">John/Jane Doe</li>
        </ul>
        <ul class="sessao__relato">
          <li class="sessao__relato--texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            rerum suscipit sed quibusdam! Facilis, similique eum culpa obcaecati
            sed in, explicabo sequi illum labore doloribus doloremque minus
            fugit voluptas. Nostrum ad odio cum doloribus, sapiente
            reprehenderit repudiandae eligendi facilis quasi.
          </li>
          <li class="sessao__relato--proprietario">John/Jane Doe</li>
        </ul>
        <ul class="sessao__relato">
          <li class="sessao__relato--texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            rerum suscipit sed quibusdam! Facilis, similique eum culpa obcaecati
            sed in, explicabo sequi illum labore doloribus doloremque minus
            fugit voluptas. Nostrum ad odio cum doloribus, sapiente
            reprehenderit repudiandae eligendi facilis quasi.
          </li>
          <li class="sessao__relato--proprietario">John/Jane Doe</li>
        </ul>
      </div>
    </div>
    <div class="mySlidesMobile fade">
      <div class="sessao__relatos">
        <ul class="sessao__relato">
          <li class="sessao__relato--texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            rerum suscipit sed quibusdam! Facilis, similique eum culpa obcaecati
            sed in, explicabo sequi illum labore doloribus doloremque minus
            fugit voluptas. Nostrum ad odio cum doloribus, sapiente
            reprehenderit repudiandae eligendi facilis quasi.
          </li>
          <li class="sessao__relato--proprietario">John/Jane Doe</li>
        </ul>
        <ul class="sessao__relato">
          <li class="sessao__relato--texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            rerum suscipit sed quibusdam! Facilis, similique eum culpa obcaecati
            sed in, explicabo sequi illum labore doloribus doloremque minus
            fugit voluptas. Nostrum ad odio cum doloribus, sapiente
            reprehenderit repudiandae eligendi facilis quasi.
          </li>
          <li class="sessao__relato--proprietario">John/Jane Doe</li>
        </ul>
        <ul class="sessao__relato">
          <li class="sessao__relato--texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            rerum suscipit sed quibusdam! Facilis, similique eum culpa obcaecati
            sed in, explicabo sequi illum labore doloribus doloremque minus
            fugit voluptas. Nostrum ad odio cum doloribus, sapiente
            reprehenderit repudiandae eligendi facilis quasi.
          </li>
          <li class="sessao__relato--proprietario">John/Jane Doe</li>
        </ul>
      </div>
    </div>
  </div>
</section>
