<!doctype html>
<html ⚡>
  <head>

    <!-- Primary Meta Tags -->
    <title>11ty Boilerplate</title>
    <meta name="title" content="11ty Boilerplate">
    <meta name="description" content="11ty Boilerplate for developers that don't want to start from the scratch">         
    <meta property="og:site_name" content="yourdomain.com.br" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="robots" content="index, follow">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.yourdomain.com.br/">
    <meta property="og:title" content="11ty Boilerplate">
    <meta property="og:description" content="11ty Boilerplate for developers that don't want to start from the scratch">
    <meta property="og:image" content="https://www.yourdomain.com.br/imagepath.jpg">
    <meta property="og:image:type" content="image/jpeg">  
    <meta property="fb:app_id" content="yourFBid" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.yourdomain.com.br/">
    <meta property="twitter:title" content="11ty Boilerplate">
    <meta property="twitter:description" content="11ty Boilerplate for developers that don't want to start from the scratch">
    <meta property="twitter:image" content="https://www.yourdomain.com.br/imagepath.jpg">
  
    <title>11ty Boilerplate</title>

    <link rel="canonical" href="/">

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
    <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>


    <style amp-custom> 
      amp-story{font-family:sans-serif;color:#fff}amp-story-page{background-color:#000}h1{font-weight:bold;font-size:2.875rem;font-weight:500;line-height:3rem}p{font-weight:normal;font-size:1.3rem;line-height:1.5rem;color:#fff}q{font-weight:300;font-size:1.1rem}amp-story-grid-layer.bottom{-ms-flex-line-pack:end;align-content:end}amp-story-grid-layer.noedge{padding:0}amp-story-grid-layer.center-text{-ms-flex-line-pack:center;align-content:center}.wrapper{display:grid;grid-template-columns:50% 50%;grid-template-rows:50% 50%}.banner-text{text-align:center;background-color:#1C2834;line-height:1.65rem;font-size:1.25rem;padding:1rem 2rem}.fundo-padrao{background-color:#1C2834;opacity:.35;width:100%;height:100%;margin:0;padding:0}.slide_x{-webkit-animation-name:slide_x;animation-name:slide_x;-webkit-animation-duration:5s;animation-duration:5s;-webkit-animation-delay:1s;animation-delay:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}@-webkit-keyframes fade{0%{-webkit-transform:translateX(0);transform:translateX(0)}100%{-webkit-transform:translateX(150px);transform:translateX(150px)}}@keyframes fade{0%{-webkit-transform:translateX(0);transform:translateX(0)}100%{-webkit-transform:translateX(150px);transform:translateX(150px)}}.botao,.botao:visited,.botao:active{border-radius:50%;font-size:1rem;padding:0;text-align:center;background-color:#e7d803;height:5rem;width:5rem;margin:auto;line-height:5rem;text-decoration:none;color:#fff}
    </style>
    
  </head>
  <body>
    <amp-story  standalone
                title="11ty Boilerplate"
                publisher="11ty Boilerplate"
                publisher-logo-src="/images/favicon/logo.jpg"
                poster-portrait-src="/images/webstories/image01.jpg">

                <amp-story-page auto-advance-after="8s" id="cover">

                  <amp-story-grid-layer template="fill">
                    <amp-video 
                    width="720"
                    height="1280"
                    layout="responsive"
                    poster="/images/webstories/image01.jpg"
                    autoplay
                    loop>
                    <source src="/videos/webstories/cronos01.mp4"
                      type="video/mp4" />
                      <div fallback>
                        <p>Your browser does not support this kind of video.</p>
                      </div>
                    </amp-video>
                    
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="fill">
                    <p class="fundo-padrao"></p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="vertical">
                    <h1
                    animate-in="fly-in-left"
                    animate-in-delay=".8s"
                    animate-in-duration="1s">11ty Boilerplate</h1>
                    <p
                    animate-in="fly-in-left"
                    animate-in-delay=".7s"
                    animate-in-duration="1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, voluptatem?</p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="vertical" class="bottom">
                    
                    <svg version="1.1" id="Camada_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 35.78 32.35" style="enable-background:new 0 0 35.78 32.35;" xml:space="preserve" width="50" height="50">
                 
                 <g>
                   <path style="fill:#fff;" d="M17.83,9.69c0.63-0.16,1.28-0.26,1.95-0.26c1.47,0,2.89,0.36,4.1,1.14l0.54-1.01
                     c-1.39-0.83-2.99-1.29-4.65-1.29c-0.86,0-1.68,0.12-2.47,0.35C17.58,8.91,17.76,9.29,17.83,9.69"/>
                   <path style="fill:#fff;" d="M23.93,24.09c-1.24,0.77-2.69,1.19-4.16,1.19c-4.31,0-7.95-3.61-7.95-7.92c0-2.28,1.02-4.35,2.61-5.81
                     c-0.28-0.31-0.45-0.7-0.51-1.12c-1.96,1.67-3.21,4.15-3.21,6.93c0,5.01,4.08,9.06,9.06,9.06c1.65,0,3.25-0.44,4.67-1.29
                     L23.93,24.09z"/>
                   <path style="fill:#EFC532;" d="M18.22,17.92C18.22,17.92,18.22,17.92,18.22,17.92C18.22,17.92,18.23,17.92,18.22,17.92l0.02,0.05l0,0
                     c0.25,0.68,0.75,1.11,1.14,0.98c0.39-0.13,0.51-0.79,0.29-1.47l0,0l-0.01-0.02c0,0,0,0,0,0l-0.22-0.48c0,0,0,0,0,0L13.42,3.94
                     L18.22,17.92z"/>
                 </g>
                 </svg>

                  </amp-story-grid-layer>

                </amp-story-page>
                
                <amp-story-page auto-advance-after="8s" id="page2">

                  <amp-story-grid-layer template="fill">
                    <amp-img class="slide_x" src="/images/webstories/image02.jpg"
                        width="720" height="1280"
                        layout="responsive">
                    </amp-img>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="fill">
                    <p class="fundo-padrao"></p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="thirds">
                    <h1>11ty Boilerplate</h1>
                    <p 
                    animate-in="fly-in-right"
                    animate-in-delay=".7s"
                    animate-in-duration="1s"
                    grid-area="lower-third">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, voluptatem?</p>
                  </amp-story-grid-layer>

                </amp-story-page>

                <amp-story-page auto-advance-after="8s" id="page3">

                  <amp-story-grid-layer template="fill">
                    <amp-img class="slide_x" src="/images/webstories/image03.jpg"
                        width="720" height="1280"
                        layout="responsive">
                    </amp-img>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="fill">
                    <p class="fundo-padrao"></p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="thirds">
                    <h1>11ty Boilerplate</h1>
                    <p 
                    animate-in="drop"
                    animate-in-delay=".7s"
                    animate-in-duration="1s"
                    grid-area="lower-third">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, voluptatem?</p>
                  </amp-story-grid-layer>

                </amp-story-page>

                <amp-story-page auto-advance-after="8s" id="page4">

                  <amp-story-grid-layer template="fill">
                    <amp-img class="slide_x" src="/images/webstories/image04.jpg"
                        width="720" height="1280"
                        layout="responsive">
                    </amp-img>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="fill">
                    <p class="fundo-padrao"></p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="thirds">
                    <h1>11ty Boilerplate</h1>
                    <p 
                    animate-in="pulse"
                    animate-in-delay=".7s"
                    animate-in-duration="1s"
                    grid-area="lower-third">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, voluptatem?</p>
                  </amp-story-grid-layer>

                </amp-story-page>

                <amp-story-page auto-advance-after="8s" id="page5">

                  <amp-story-grid-layer template="fill">
                    <amp-img class="slide_x" src="/images/webstories/image05.jpg"
                        width="720" height="1280"
                        layout="responsive">
                    </amp-img>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="fill">
                    <p class="fundo-padrao"></p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="thirds">
                    <h1>11ty Boilerplate</h1>
                    <p 
                    animate-in="whoosh-in-right"
                    animate-in-delay=".7s"
                    animate-in-duration="1s"
                    grid-area="lower-third">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, voluptatem?</p>
                  </amp-story-grid-layer>

                </amp-story-page>

                <amp-story-page auto-advance-after="8s" id="page6">

                  <amp-story-grid-layer template="fill">
                    <amp-img class="slide_x" src="/images/webstories/image06.jpg"
                        width="720" height="1280"
                        layout="responsive">
                    </amp-img>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="fill">
                    <p class="fundo-padrao"></p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="vertical" class="center-text">
                    <p 
                    class="banner-text"
                    animate-in="whoosh-in-right">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, voluptatem?</p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer  template="thirds">
                    <a 
                    href="/"
                    target="_blank"
                    class="botao"
                    grid-area="lower-third">
                    Here</a>
                  </amp-story-grid-layer>

                </amp-story-page>
                <!-- Use the code below for GM Tag changing YOURTAG -->
                <!-- <amp-analytics type="gtag" data-credentials="include"><script type="application/json">{"vars":{ "gtag_id":"YOURTAG","config":{"YOURTAG":{"groups":"default"}}}}</script></amp-analytics> -->
                <amp-story-bookend src="/assets/bookend.json" layout="nodisplay"></amp-story-bookend>
    </amp-story>
  </body>
</html>